{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InspireMeGPT</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-VKjZ74zD+41RJlLQbWbywwIOyjrGxE9XfRUPP2QZZeJw1Bm0evXXj0/gvV8Wqmw06USuas7m0c6OvK6U0ZSfSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://kit.fontawesome.com/5da172642b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>   
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleh.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        
    </head>
<body class="box">
    <main class="right__section__title__suggestions__questioninput" >
        <section class="chat__box">
            <div class="tohide">
                <h1 class="chatgpt__title">InspireMeGPT</h1>
                <div class="box__examples__capabilities__limitations">
                    <div class="examples">
                        <i class="fa-sharp fa-regular fa-sun" style="color: #ffffff;"></i>
                        <h2 class="examples__header">Examples</h2>
                        {% for item in examples %}
                        <div class="examples__lil__box" onclick="exampleToInputEvent(event)">{{item}}</div>
                        {% endfor %}
                    </div>
                    <div class="capabilities">
                        <i class="fas fa-bolt fa-thin"></i>
                        <h2 class="capabilities__header">Capabilities</h2>
                        {% for item in capabilities%}
                        <div class="capabilities__lil__box"><p class="capabilities__lil__box__text">{{item}}</p></div>
                        {% endfor %}
                    </div>
                    <div class="limitations">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <h2 class="limitations__header">Limitations</h2>
                        {% for item in limitations %}
                        <div class="limitations__lil__box"><p class="limitations__lil__box__text">{{item}}</p></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="chatContentContainer" hidden>
        </div>

    </section> 
        <div class="question__box" id="question__input-event">
            <div class="question__input--margin">
                <textarea class="question__input__input" id = "question__input"  rows="4" cols="50"  placeholder="Type your question..."></textarea>
                <button class="question__confirm" id="send__question-button" onclick="addMessageToChatroom(event)"><i class="fa-solid fa-circle-chevron-right" id="confirm__icon"></i></button>
            </div>
        </div>
        <footer class="Zenref">Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a></footer>
    </main>
        
    <nav class="left__section__historic__settings">
        <hr class="left__section__historic__settings__divisor__line">
        <div class="history__newchat__section">
            <div class="new__chat" onclick="newChat()"><h1>+</h1>New chat</div>
            <scroll-container class="history__section--container">
                {% for chatroom in chatrooms %}
                <scroll-page class="history__section--page" data-id="{{ chatroom.id }}" onclick="updateChatContentById(event, '{{chatroom.id}}')"><div class="history__section--tittle">{{ chatroom.title }}</div></scroll-page>
                {% endfor %}       
            </scroll-container>
        </div>
        <div class="settings__log__section">
            <div id="user__log__out__section" class="settings__log__section--item"><i class="fa-regular fa-user" style="color: #ffffff;"></i><a id="logout" style="text-decoration: none; color:white;" href="{% url 'accounts:logout' %}">Log out</a></div>
        </div>
    </nav>   
    <script>
        const chatBox = document.querySelector('.chat__box');
        const chatContent = document.querySelector('.chatContentContainer');
        const historyContent = document.querySelector('.history__section--container');
        var questionInput = document.querySelector(".question__input__input")
        var chatroom_id_current = -1
    </script>   
</body>
</html>