{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5da172642b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>InspireMeGPT - Login</title>
</head>
<body>
    <div class="parent-container">
    <div class="form-container">
        <div class="container-background">
            <h1>Login</h1><!--and Inspire Yourself-->
            <form action="{% url 'accounts:login' %}" method="post" class="form__">
                {% csrf_token %}
                <div class="form-group">
                    <label>Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <br/>
                    {{ form.password }}
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div class="form-group-b">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
                <div class="or-container">
                    <div class="line-separator">
                    </div> 
                    <div class="or-label"><i class="fa-regular fa-star"></i></div>
                    <div class="line-separator"></div></div>
                        <div class="col-md-12">
                          <p class="text-inverse text-center">New on InspireMeGPT?<a href="{% url 'accounts:signup' %}" data-abc="true"> Signup</a></p>
                        </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>