{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5da172642b.js" crossorigin="anonymous"></script>
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static '/css/signup.css' %}">
        <title>InspireMeGPT - Signup</title>
</head>
<body>
    <div class="form-container-signup">
        <div class="container-signup">
            <h1>Signup</h1>
            <form action="{% url 'accounts:signup' %}" class="signup-form"method="post">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <div class="form-group-b">
                        <input class="btn btn-success" type="submit" value="Submit">
                    </div>
                <p class="text-inverse text-center">Already have an account? <a href="{% url 'accounts:login' %}" data-abc="true">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>