.left__section__historic__settings {
    display: flex;
    height: 100vh;
    width: 15%;
    background:var(--primary-color-dark);
    flex-direction: column;
}



.history__newchat__section {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.new__chat{
    display: flex;
    align-items:center;
    margin: 10px;
    padding: 10px;
    text-indent:10px;
    text-decoration: none;
    font-size: 20px;
    color: #d4cdce;
    border: #d4cdce; 
    border-width:0.01cm; 
    border-style:solid;
    border-radius: 3px;
}
.new__chat:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    user-select: none;
}     


.history__section--container {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.history__section--page {
    display: flex;
    margin-left:  15px;
    border-radius: 7px;
    padding: 18px;
}

.history__section--page:hover{
    user-select: none;
    background-color: var(--primary-color-dark1);
    cursor: pointer;
    padding-right: 60px;
}


.settings__log__section{
    border-top-color:#d4cdce;
    border-top-style:groove;
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    color: #d4cdce;
    justify-content:space-around;
    /* flex-wrap: wrap; */
    height:30%; 
}

.settings__log__section--item:hover{
    user-select: none;
    background-color: var(--primary-color-dark1) ;
    cursor: pointer;
}

.settings__log__section--item{
    margin-left:  15px;
    border-radius: 8px;
    padding: 20px;
    /* height: 50%; */
}


.history__section--tittle{
    color: #d4cdce;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; /* whatever maximum width you want to use */
}